body{
    margin: 1cm;
    background-color: darkturquoise;
}

div{
    padding: 35px;
}

#main{
    
    color:black;
    background-image: url(https://thumbs.dreamstime.com/b/textura-de-fondo-natural-pasto-verde-cerrado-c%C3%A9sped-para-el-173354552.jpg);

}

.card{
    color: black;
}

nav ul{
    background-color: antiquewhite;
    flex-direction: row;
    justify-content: center;
    display: flex;
}

nav li{
    margin: 0.2cm;
    list-style: none;
    font-size: large;
    
}

nav{
    background-color: antiquewhite;
    display: flex;
    width: 100%;

}

nav img{
    width:auto;
    display: flex;
    max-height: 250px;
}

div button{
    color: red;
}

.buttom{
    display: flex;
    align-self: flex-end;
    width: 50px;
    text-decoration: none;
}

#posiciones{
    width: 300px;
}

footer table{
    border-color: cadetblue;
    
}

footer{
    background-image: url(https://http2.mlstatic.com/D_NQ_NP_600705-MLA25053328903_092016-O.webp);
    color: white;
}