
body{
    margin: 1cm;
    background-color: darkturquoise;
}

div{
    padding: 35px;
}

#main{
    
    color:black;
    background-image: url(https://us.123rf.com/450wm/praewpailin/praewpailin1903/praewpailin190300225/121373189-patr%C3%B3n-de-hierba-verde-y-textura-de-fondo-imagen-de-primer-plano-.jpg?ver=6);
}

.card{
    color: black;
}

nav ul{
    background-color: antiquewhite;
    flex-direction: row;
    justify-content: center;
    display: flex;
}

nav li{
    margin: 0.2cm;
    list-style: none;
    font-size: large;
    
}

nav{
    background-color: antiquewhite;
    display: flex;
    width: 100%;

}

nav img{
    width:auto;
    display: flex;
    max-height: 250px;
}

div button{
    color: red;
}

.buttom{
    display: flex;
    align-self: flex-end;
    width: 50px;
    text-decoration: none;
}

#posiciones{
    width: 300px;
}

footer table{
    border-color: cadetblue;
    
}

footer{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPTkixKHzY5ERjAVgp1hvz6-GjVrxQIisfCg&usqp=CAU);
    color: white;
    background-repeat: auto;
    
    
}

.goles{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px
}

.equipos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#main{
    color: white;
}

.card-body{
    background-color: orange;
}

.card{
    background-color: black;    
}

h1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}